@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: "black";
}

section {
  position: relative;
  display: flex;
  justify-items: baseline;
  height: 100%;
  transform-style: preserve-3d;
}
