/* Apple Music Bars */

.barMobile {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  margin-right: 1px;
  width: 3.5px;
  height: 1px;
  overflow: hidden;
  background: #da2742;
  color: transparent;
  animation-name: pulse;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

.bar {
  display: inline-block;
  position: relative;
  border-radius: 20px;
  margin-right: 1px;
  width: 3.5px;
  height: 1px;
  overflow: hidden;
  background: white;
  color: transparent;
  animation-name: pulse;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

.n1 {
  animation-delay: 0.5s;
}
.n2 {
  animation-delay: 0.25s;
}
.n3 {
  animation-delay: 1.25s;
}
.n4 {
  animation-delay: 0.9s;
}

@keyframes pulse {
  0% {
    height: 0.5px;
    margin-top: 0;
  }
  10% {
    height: 15px;
    margin-top: -40px;
  }
  50% {
    height: 8px;
    margin-top: -20px;
  }
  60% {
    height: 10px;
    margin-top: -30px;
  }
  80% {
    height: 20px;
    margin-top: -60px;
  }
  100% {
    height: 0.5px;
    margin-top: 0;
  }
}

/* Spotify */

.sticky {
  position: fixed;
  top: 100px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 5px;
}

.gridItem {
  background-color: orange;
  height: 40px;
  width: 40px;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
}

.background {
  transform: translateZ(-10px) scale(2);
  z-index: -1;
}

.banner {
  transform: translateZ(-10px) scale(2);
  z-index: 999;
  position: absolute;
  top: 0px;
}

/* .options {
  transform: translateZ(-10px) scale(2);
  z-index: 9999;
  position: absolute;
} */

.test {
  transform: translateZ(-5px) scale(1.5);
}

.display {
  transform: translateZ(-5px) scale(1.5);
  z-index: 0;
  position: relative;
}

/* @media screen and (min-width: 1024px) {
  .display {
    bottom: -760;
  }
} */

.background {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.foreground {
  position: absolute;
  object-fit: cover;
}

.musicIcon {
  box-shadow: 0 0 30px #da2742;
  border-radius: 1rem;
  transition: all 0.15s ease-in-out;
}

.redditIcon {
  box-shadow: 0 0 30px #ff5309;
  border-radius: 1rem;
  transition: all 0.15s ease-in-out;
}

.twitterIcon {
  box-shadow: 0 0 30px #26a7de;
  border-radius: 1rem;
  transition: all 0.15s ease-in-out;
}

.twitterIconBanner {
  box-shadow: 0 0 15px #26a7de;
  border-radius: 1rem;
  transition: all 0.15s ease-in-out;
}
.redditIconBanner {
  box-shadow: 0 0 15px #ff5309;
  border-radius: 1rem;
  transition: all 0.15s ease-in-out;
}

.musicIconBanner {
  box-shadow: 0 0 15px #da2742;
  border-radius: 1rem;
  transition: all 0.15s ease-in-out;
}

.deselectIcon {
  box-shadow: none;
  transition: all 0.4s ease-in-out;
}

/* Loader */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #87d3fe;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
